<div class="container">
  <div style="border: 1px solid #cccccc; min-height: 80vh;">
    <div class="row" class="grey-bg pl-3">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h1>Search Vehicle</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-8 form-group">
            <label for="VehicleNumber">By Vehicle Number</label>
            <br>
            <input type="text" class="form-control" value="353122">
          </div>
          <div class="col-3 form-group">
            <label for="VehicleNumber">Odometer</label>
            <br>
            <input type="text" class="form-control" value="10241">
          </div>
          <div class="col-1">
            <!-- <span class="glyphicon glyphicon-repeat"></span> -->
            

          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 pl-3">
      <div class="row" style="width: 90%; border-bottom: 1px solid #cccccc">
        <div class="col-6">
            <h5>Vehicle Information</h5>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-3 text-right">
              car
            </div>
            <div class="col-9">
              <div>
                Assigned Vehicle
              </div>
              <div>
                <span>Status:</span>
                <span class="font-10 text-success"> No DVIR Required</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table header-->
      <div class="row grey-bg p-3 font-bold">
        <div class="col-3">
          Vehicle Details
        </div>
        <div class="col-3">
          Trailer Details
        </div>
        <div class="col-3">
          Original Odometer
        </div>
        <div class="col-3">
          Current DVIR Status
        </div>
      </div>
      <!-- table data -->
      <div class="row font-15" style="border-bottom: 1px solid #cccccc;">
        <div class="col-3">
          <p>Vehicle Carrier DOT Number # 353122</p>
          <p>Vehicle Carrier DOT Number # 353122</p>
          <p>Vehicle Carrier DOT Number # 353122</p>
          <p>Vehicle Carrier DOT Number # 353122</p>
        </div>
        <div class="col-3">
          <span>Vehicle Carrier DOT Number # 353122</span>
        </div>
        <div class="col-3">
          <span>10221</span>
        </div>
        <div class="col-3">
          <span>No DVIR Required</span>
        </div>
      </div>
    </div>
    <!-- terms and condition -->
    <div class="row">
      <div class="col-1 text-right">
        <input type="checkbox">
      </div>
      <div class="col-11">
        <span>I acknowledge that I understand the federal requirements as mandated by the regulations in 49 CFR $396.11 (Driver Vehicle Inspection Report(s).</span>
        <span>  I acknowledge that by choosing this option, I am overriding the federally mandated Driver Vehicle Inspection Report (DVIR) process with in my state.</span>
      </div>
    </div>
    <!-- buttons -->
    <div class="row mt-3">
      <div class="col-9">
        <div class="row text-center">
          <div class="col-3 text-right"><button class="btn">Pre Trip Inspection</button></div>
          <div class="col-2 p-0"><button class="btn">Post Trip Inspection</button></div>
          <div class="col-2 text-left"><button class="btn btn-black">Exist</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
