.grey-bg{
    background-color: #b3b8b736;
}
.pl-3 {
    padding: 0 3%;
}
.font-bold {
    font-weight: bold;
}

/* test */

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}
/* style icon */
.inner-addon i {
  position: absolute;
    padding: 10px;
  pointer-events: none;
}
/* align icon */
.inner-addon .vehicleno  { left:  91%;}
.inner-addon .odometer { left:  85%;}
.inner-addon .fa-search  { left:  94%;}
