<div class="p-3">
    <div class="row">
        <div class="col-12"><strong><i class="fa fa-angle-left font-weight-bold"></i> Check any defective items and give details</strong></div>
        <div class="col-12 mt-3">
          <span>Current DVIR Status</span>
          <span class="ml-5 text-danger">DVIR Required (Defects found)</span>
        </div>
        <div class="col-12 mt-1">
          <span>DVIR Tracking Number</span>
          <span class="ml-4">353688</span>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <div class="row">
              <div class="col-3">
                  <select name="" class="form-control" id="">
                  <option value="">Select</option>
                  </select>
                  </div>
                  <div class="col-3">
                  <select name="" class="form-control" id="">
                    <option value="">Select</option>
                  </select>
                  </div>
                  <div class="col-3">
                    <select name="" class="form-control" id="">
                      <option value="">Select</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <span><i class="fa fa-plus-circle" style="font-size: 32px" (click)="addMore()"></i></span>
                  </div>
          </div>
        
            <div class="row mt-2" *ngFor="let detail of details; let i = index">
              <div class="col-3">
                  <select name="" class="form-control" id="">
                  <option value="">Select</option>
                  </select>
                  </div>
                  <div class="col-3">
                  <select name="" class="form-control" id="">
                    <option value="">Select</option>
                  </select>
                  </div>
                  <div class="col-3">
                    <select name="" class="form-control" id="">
                      <option value="">Select</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <span><i class="fa fa-minus-circle" style="font-size: 32px"  (click)="removeEle(i)"></i></span>
                  </div>
          </div>
         
        </div>
      </div>
      <!-- Comments -->
      <div class="row mt-5">
        <div class="col-12">
          <div>Comments (Reporting driver)</div>
          <div class="float-right">Min 10, Max 180 characters</div>
        </div>
        <div class="col-12">
          <textarea name="" id="" rows="3" class="form-control"></textarea>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-left">
          Did a State Roadside Inspection Occur?
        </div>
        <div class="col-12 text-left">
         <span><input type="radio" name="occur" id="yes" value="true" (click)="roadSideInspectionReq('true')"> Yes</span>
         <span class="ml-4"><input type="radio" name="occur" id="no" value="false" (click)="roadSideInspectionReq('false')"> No</span>
        </div>
      </div>
      <div class="row mt-2" *ngIf="roadSideInspection">
        <div class="col-3">
          <label for="">Inspection Number (requird)</label>
          <br>
          <input type="text" class="form-control" value="12435">
        </div>
      </div>
      <!-- Driver details -->
      <div class="row mt-5">
        <div class="col-4">
          <label for="">Reporting Driver</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-4">
            <label for="">Date</label>
            <div class="inner-addon">
              <i class="fa fa-calendar calender"></i>
              <input type="text" class="form-control">
            </div>
          
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-3">
          <div class="col-5">
            <div class="row">
              <div class="col-2"><button class="btn btn-secondary">Cancel</button></div>
              <div class="col-2"><button class="btn btn-primary">Submit</button></div>
            </div>
          </div>
        </div>
          <!-- help and feedback -->
    <div class="row mt-4 p-4">
      <div class="col-3">
        <span><i class="fa fa-question-circle"></i> Help</span>
        <span class="ml-3"><i class="fa fa-comment-o"></i> Support</span>
      </div>
  </div>
</div>
