<div class="p-3">
    <div class="row">
        <div class="col-12">Check any defective items and give details</div>
        <div class="col-12">
          <span>Current DVIR Status</span>
          <span>DVIR Required (Defects found)</span>
        </div>
        <div class="col-12">
          <span>DVIR Tracking Number</span>
          <span>353688</span>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <div class="row">
              <div class="col-3">
                  <select name="" class="form-control" id="">
                  <option value="">Select</option>
                  </select>
                  </div>
                  <div class="col-3">
                  <select name="" class="form-control" id="">
                    <option value="">Select</option>
                  </select>
                  </div>
                  <div class="col-3">
                    <select name="" class="form-control" id="">
                      <option value="">Select</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <span><i class="fa fa-plus"></i></span>
                  </div>
          </div>
        </div>
      </div>
      <!-- Comments -->
      <div class="row mt-5">
        <div class="col-12">
          <div>Comments (Reporting driver)</div>
          <div class="float-right">Min 10, Max 180 characters</div>
        </div>
        <div class="col-12">
          <textarea name="" id="" rows="3" class="form-control"></textarea>
        </div>
      </div>
      <!-- Driver details -->
      <div class="row mt-5">
        <div class="col-4">
          <label for="">Reporting Driver</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-4">
            <label for="">Date</label>
            <input type="text" class="form-control">
        </div>
      </div>
      <!-- buttons -->
      <div class="row mt-3">
          <div class="col-5">
            <div class="row">
              <div class="col-2"><button class="btn btn-secondary">Cancel</button></div>
              <div class="col-2"><button class="btn btn-primary">Submit</button></div>
            </div>
          </div>
        </div>
</div>
