<div class="row m-0" style="border: 1px solid #cccccc">
  <div class="col-12 mt-1" style="padding: 0 8%">
    <div class="float-left logo">
      <img src="../assets/images/logo.png">
      <div class="mt-1 pl-1"><strong>Vfleet</strong></div>
    </div>
    <div class="float-right">
      <span>Athindra</span>
      <span class="ml-2"><i class="fa fa-angle-down font-20" style="color: red"></i></span>
      <span class="ml-2"><i class="fa fa-user font-20"></i></span>
    </div>
  </div>
  <div class="col-12">
          <div class="menu">
              <ul>
                <li class="active">
                  <a href="#"><i class="fa fa-home font-20"></i></a>
                  <span class="ml-2"><i class="fa fa-angle-down font-20"></i></span>
                  <span class="ml-2">|</span>
                </li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Forms & Policies</a></li>
                <li><a href="#">Accidents & Insurance</a></li>
                <li><a href="#">DVIR</a></li>
                <li><a href="#">Helpdesk</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
     
  </div>
</div>