.logo img{
    height: 26px;
}
.menu {
    margin: 0 auto;
    height: 38px;
    margin-top: 8px;
    padding: 0 6%;
}
.menu ul {
    float: left;
}

.menu ul  li {
    display: inline;
    padding: 10px;
 }
 .menu ul  li a{
 color: rgb(16, 15, 15);
 font-weight: 200;
 }
 .menu ul, .menu li {
    margin: 0; padding: 0;
}