body {
    font-family: 'Times New Roman', Times, serif;
}
.font-10{
    font-size: 10px;
}
.font-15{
    font-size: 15px;
}
.font-20{
    font-size: 20px;
}
.font-25{
    font-size: 25px;
}
.font-30{
    font-size: 30px;
}
.btn-black {
    background-color: #333333;
    color: #ffffff;
}
.text-left {
    text-align: left;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}
/* style icon */
.inner-addon i {
  position: absolute;
    padding: 10px;
  pointer-events: none;
}
/* align icon */
.inner-addon .vehicleno  { left:  91%;}
.inner-addon .calender  { left:  91%;}
.inner-addon .odometer { left:  85%;}
.inner-addon .fa-search  { left:  94%;}
